APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=dbreservas
DB_USERNAME=roberto
DB_PASSWORD=sesamo

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp                        #no tocar
MAIL_HOST=smtp.gmail.com                #no tocar
MAIL_PORT=587                           #puerto no tocar
MAIL_USERNAME=iapolosrl@gmail.com       #correo electronico
MAIL_PASSWORD="spzy vlmf ulds dyej"     #password del correo electronico
MAIL_ENCRYPTION=tls                     #tipo de encriptado
MAIL_FROM_ADDRESS="iapolosrl@gmail.com" #correo electronico
MAIL_FROM_NAME="${APP_NAME}"            #no tocar

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

TWILIO_SID="ACc129f89d0572614ae32c6ad32d1d35a3"
TWILIO_AUTH_TOKEN="b0d7acf22ab89415da0a61dd60b6828e"
TWILIO_WHATSHAPP_NUMBER="+59167758202"
TWILIO_WHATSHAPP_NUMBER_FROM="+14155238886"
